version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.5
    steps:
      - checkout
      - run:
          name: Instalando dependencias
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install invoke
            invoke build
      - run:
          name: Ejecutando test
          command: |
            . venv/bin/activate
            invoke test
